<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery-resize.js"></script>
    <script src="angular.min.js"></script>
    <link href="angular-ui-switch-bak.css" rel="stylesheet" />
    <link href="../docs/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{ padding:0; margin:0;}
        div{ padding:0; margin:0;}
    </style>

</head>
<body ng-app="myapp">

<div ng-controller="MyController">
    <span id="switch-state" style="margin: 20px;border-radius:{{ swt.switchHeigth + 'px' }}" class="switch" onclick="changeswitchvalue()">
        <small id="mySmall" class="btn btn-default"  ng-style="swt.smallstyle"></small>
        <input id="t1" type="checkbox" name="enabled" ng-model="enabled" style="display:none"/>
        <span class="switch-text"> </span>
    </span>
    <a class="btn btn-primary" style="margin-left: 20px;margin-bottom: 5px;display: table;" onclick="changeswitchvalue()" href="javascript:void(0)">ON/OFF</a>
    <h4 style="margin-left: 20px;display: inline-block;" >Switch Text:</h4><input type="text" style="width: 100px;display: inline-block;" class="form-control" ng-model="swt.switchText"/>
    <br/>
    <h4 style="margin-left: 20px;display: inline-block;" >Height:</h4><input type="text" style="width: 100px;display: inline-block;" class="form-control" ng-model="swt.switchHeigth"/>
    <br/>
    <h4 style="margin-left: 20px;display: inline-block;" >Width:</h4><input type="text" style="width: 100px;display: inline-block;" class="form-control" ng-model="swt.switchWidth"/>
    <p>{{ swt }}</p>
</div>

<small class="btn btn-default" > xxx</small>


<script type="text/javascript">
    var app = angular.module('myapp',[]).controller('MyController',function($scope){
        $scope.swt = {};
        $scope.swt.switchText="";
        $scope.swt.switchHeigth = 30;
        $scope.swt.switchWidth = "" ;
        $scope.swt.OutWidth = "";
        $scope.swt.smallstyle = {
            'height': $scope.swt.switchHeigth + 'px',
            'border-radius': $scope.swt.switchHeigth + 'px',
            'min-width':'30px'
        };
        $scope.swt.amallobj = $("#mySmall").css("width");
        $scope.$watch('swt.switchText', function ngStyleWatchAction(newStyles, oldStyles) {
            var tmpsmallobj = $("#mySmall");
            tmpsmallobj.text(newStyles);
            $scope.swt.OutWidth = parseInt(tmpsmallobj.css("width")) + 22;
            tmpsmallobj.parent().css("width",$scope.swt.OutWidth+"px");
            //$scope.swt.OutWidth  = (parseInt(tmpw) + 22 ) + 'px';
        });
        $scope.$watch('swt.smallstyle', function ngStyleWatchAction(newStyles, oldStyles) {
            console.log('swt.smallstyle [new] :'+newStyles);
            console.log('swt.smallstyle [old] :'+oldStyles);
            var tmpw = $("small").width();
            //$scope.swt.OutWidth  = (parseInt(tmpw) + 22 ) + 'px';
        });
        $scope.$watch('swt.amallobj', function ngStyleWatchAction(newStyles, oldStyles) {
            console.log('swt.amallobj [new] :'+newStyles);
            console.log('swt.amallobj [old] :'+oldStyles);
            var tmpw = $("small").width();
            //$scope.swt.OutWidth  = (parseInt(tmpw) + 22 ) + 'px';
        });
    });
    var tmpobj = $("#t1");
    var tmpswitch = $("#switch-state");

//    app.directive("myStyle", function (){
//        return {
//            restrict: 'A',
//            scope:{yystyle:"@style"},
//            link: function($scope, element, attrs)
//            {
//                $scope.$watch('yystyle', function ngStyleWatchAction(newStyles, oldStyles) {
//                    console.log("newStyles:" + newStyles);
//                    console.log("oldStyles:" + oldStyles);
//                });
//            }
//        };
//    });
function changeswitchvalue() {
    var tmpMySmall = $("#mySmall")
    if(t1.checked)
        tmpMySmall.animate({left:'22px'},350);
    else
    tmpMySmall.animate({left:'0px'},350);
    t1.checked = !t1.checked;
}



/* -------------- Jquery Code -----------------------------*/
//    $("#mySmall").resize(function(e){
//        // do something when #unicorns element resizes
//        if(e && $(e.currentTarget).attr("id") === 'mySmall'){
//            var tmpwidth = parseInt($(e.currentTarget).css("width")) + 22;
//            var tmpparent = $(e.currentTarget).parent();
//            $(tmpparent).css('width',tmpwidth+'px');
//        }
//        console.log(e);
//    });



</script>
</body>
</html>